/* globals.css */
@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: normal;
  src: url('../_font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('../_font/Poppins-SemiBold.ttf') format('truetype');
}

body {
  font-family: 'Poppins', sans-serif;
}
